.header {
	// .header__container
	&__container {
	}

	&__row {
		margin-top: rem(47);
		display: flex;
		align-items: center;
	}

	// .header__logo
	&__logo {
		display: inline-block;
		@include adaptiveValue("margin-right", 40, 15, 1400, 1200, 1);
	}
	// .header__menu
	&__menu {
	}
	// .header__form
	&__form {
		display: block;
		flex: 1 1 auto;
		@include adaptiveValue("margin-right", 121, 21, 1400, 768, 1);
		position: relative;
		input {
			width: 100%;
			height: 45px;
			padding-left: 44px;
			position: relative;
		}
	}
	// .header__button
	&__button {
		position: absolute;
		top: 0;
		transform: translateY(50%);
		left: rem(12);
		z-index: 1;
		font-size: rem(20);
		color: #616161;
	}
	// .header__actions
	&__actions {
	}
}
//========================================================================================================================================================

.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		@media (min-width: $mobile) {
			display: flex;
			li {
				@include adaptiveValue("margin-right", 40, 15, 1400, 1200, 1);
			}
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
	}
}

.products {
	position: relative;
	// .products__title
	&__title {
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: row-reverse;
		&::before {
			margin-left: rem(8);
		}
	}
	// .products__submenu
	&__submenu {
	}
}

._icon-arrow-down {
	._ok &:before {
		transform: rotateZ(-180deg);
	}
}

.submenu-products {
	display: none;
	visibility: hidden;
	position: absolute;
	top: rem(25);
	li:not(:last-child) {
		margin-bottom: rem(10);
	}
	._ok & {
		display: block;
		visibility: visible;
	}
	// .submenu-products__item
	&__item {
	}
	// .submenu-products__link
	&__link {
	}
}

//========================================================================================================================================================

.rooms {
	position: relative;
	// .products__title
	&__title {
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: row-reverse;
		&::before {
			margin-left: rem(8);
		}
	}
	// .products__submenu
	&__submenu {
	}
}

.submenu-rooms {
	display: none;
	visibility: hidden;
	position: absolute;
	top: rem(25);
	li:not(:last-child) {
		margin-bottom: rem(10);
	}
	._ok & {
		display: block;
		visibility: visible;
	}
	// .submenu-products__item
	&__item {
	}
	// .submenu-products__link
	&__link {
	}
}

.actions-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 32, 10);
	// .actions-header__favorite
	&__favorite {
		font-size: rem(24);
	}
	// .actions-header__cart
	&__cart {
		font-size: rem(24);
	}
	// .actions-header__image-ibg
	&__image-ibg {
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		overflow: hidden;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//====================================================================================================

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
